body {
background-image: URL("space.png");
color: white;
}

ul {
padding: 0px;
margin: 0px;
}

ul li {
list-style-type: none;
display: inline-block;
background-color: darkgray;
text-align: center;
border: 5px solid white;
box-sizing: border-box;
}

ul li.wide {
width: 50%;
}

ul li.narrow {
width: 25%;
border-left: 0px;
}

p {
margin-left: 10px;
width: 650px;
text-indent: 20px;
}

a {
color: white;
text-decoration: none;
}

a:hover {
text-shadow: 2px 2px 2px #FFFF00;
}

a:active {
color: #FC5E00;
}